.ticket-types-content{ 
    width: calc(100% - 250px);
    left: 250px;
    top: 0; 
    position: relative;
    overflow: hidden;
    background: transparent;
    color: #000;
    height: auto;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: center;
}