.contactus-section{
    padding:50px 0;
    background-color: #05C9B4;
    text-align: center;
}
.social-eventiv li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    font-size: 30px;
}
.social-eventiv li a{
    text-decoration: none;
    color:#000;
}
.contact-items, .eventiv-gmail, .eventiv-phone-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.gmail-icon{
    font-size: 36px;
    color:#000;
    margin-bottom: 10px;
    margin-right: 20px;
}